
.navbar ul {
    list-style-type: none;
    margin-top: -7px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 0;
    overflow: hidden;
    background-color:#eb4124 ;
    position: fixed;
    width: 100%;  
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family:arial;
}

li a:hover {
    background-color:#c92d12;
    text-decoration: none;
    color: white;
}
